<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    <title><%= messages.title %></title>
    <meta description="<%= messages.description %>"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@digitalrightsdv"/>
    <meta property="og:url" content="https://digitalrights.dev/copyright-bot/" />
    <meta property="og:title" content="<%= messages.title %>" />
    <meta property="og:description" content="<%= messages.description %>" />
    <meta property="og:image" content="https://digitalrights.dev/assets/img/copyright-upload-filter-bot.png" />
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
<section id="copyright-bot">
  <a href="/<%= messages.lang %>"><img src="/logos/digitalrightsdev-h.png"/></a>
  <h1><%= messages.h1 %></h1>
  <div id="main">
    <div class="message bot">
      <%= messages.message1 %>
    </div>
    <div class="message bot">
      <%= messages.message4 %>
    </div>
    <div class="message me">
      <%= messages.message5 %>
    </div>
    <div class="meme">
      <img src="/assets/img/tell-me-again-meme-eu.gif">
    </div>
    <div class="message bot">
      <%= messages.message6 %>
    </div>
    <div class="message me">
      <%= messages.message7 %>
      <span id='computer'><i class='typcn typcn-times'></i>
        <%= messages.computer %>
      </span>
      <%= messages.it %>
    </div>
    <div class="message bot">
      <%= messages.quote %>
    </div>
    <div class="message me">
      <%= messages.sentences %>
    </div>
    <div class="meme">
      <img src="/assets/img/is-this-a-meme-eu.gif">
    </div>
    <div class="message me">
      <%= messages.message8 %>
    </div>
    <div class="message bot">
      <%= messages.message9 %>
    </div>
    <div class="message bot">
      <%= messages.message10 %>
    </div>
    <div class="message me">
      <%= messages.message11 %>
    </div>
    <div class="message me">
      <%= messages.message12 %>
    </div>
    <div class="message bot">
      <%= messages.message13 %>
    </div>
    <div class="message bot">
      <%= messages.message14 %>
    </div>
    <div class="message bot">
      <%= messages.message15 %>
    </div>
    <div class="clear"></div>
    <div class="social">
      <a href="<%= messages.twit %>"><i class="typcn typcn-social-twitter"></i></a>
      <div style="clear:both"></div>
        <div id="footer-logo">
        <a target="_blank" href="https://twitter.com/digitalrightsdv/"><img src="/logos/digitalrightsdev.png"/></a>
        <a href="/<%= messages.lang %>"><%= messages.about %></a> & <a href="https://github.com/DigitalRightsDev/copyright-filter-bot/" target="_blank"  class="typcn typcn-social-github"><i></i></a>
      </div>
    </div>
  </div>
</section>
  <script type="text/javascript" src="/assets/js/mobile-check.js"></script>
  </body>
</html>
